<!--<h3 >Welcome to James Pegram Movie Project</h3>
<h5>The database allows you to track your favorite movies in one easy location</h5>-->

<h2 class="page-header">Account Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label class='login-fld'>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label class='login-fld'>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary submit-btn">Submit</button>
</form>